.granola-sync-support-icon {
  color: var(--icon-color);
}

.granola-sync-support-icon:hover {
  color: var(--icon-color-hover);
}

.granola-sync-support-icon svg {
  height: 16px;
  width: auto;
  display: block;
}

.granola-sync-bmc-icon svg {
  height: 24px;
  width: auto;
  display: block;
}
