name: Release Obsidian plugin

on:
  push:
    tags:
      - "*"

jobs:
  test-and-build:
    uses: ./.github/workflows/build.yml

  create-release:
    needs: test-and-build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: plugin-build-${{ github.run_id }}
          path: .

      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          tag="${GITHUB_REF#refs/tags/}"
          
          gh release create "$tag" \
            --title="$tag" \
            --draft \
            ./output/main.js ./manifest.json
